---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: mlframeworks.catalog.modela.ai
spec:
  group: catalog.modela.ai
  names:
    categories:
    - catalog
    - modela
    - all
    kind: MLFramework
    listKind: MLFrameworkList
    plural: mlframeworks
    singular: mlframework
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.url
      name: URL
      type: string
    - jsonPath: .spec.version
      name: Version
      type: string
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: MLFramework define the metadata about a machine learning framework
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: MLFramework is the spec for a specific version of machine
              learning framework (e.g. tensorflow)
            properties:
              description:
                description: Comments of the framework
                type: string
              lang:
                description: Lang is the framework lang
                type: string
              url:
                description: URL for the home page of the mlframework
                type: string
              version:
                description: The current version of the mlframework
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
