
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: workloadclasses.catalog.modela.ai
spec:
  group: catalog.modela.ai
  names:
    categories:
    - catalog
    - modela
    - all
    kind: WorkloadClass
    listKind: WorkloadClassList
    plural: workloadclasses
    singular: workloadclass
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .spec.image
      name: Image
      type: string
    - jsonPath: .spec.vcpu
      name: vCpu
      type: string
    - jsonPath: .spec.mem
      name: Memory
      type: string
    - jsonPath: .spec.gpu
      name: Gpu
      type: integer
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: WorkloadClass define a template for a job.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: WorkloadClassSpec defines the specification of  a workload
              class.
            properties:
              frameworks:
                description: List of ml frameworks supported by the data container
                items:
                  type: string
                type: array
              libs:
                description: Libs is the list of python library supported by the data
                  container
                items:
                  properties:
                    name:
                      type: string
                    version:
                      type: string
                  type: object
                type: array
              os:
                description: OS is the name of the os
                type: string
              osVersion:
                description: OSVersion is the version of the os
                type: string
              resourcesTemplate:
                description: Specification for resource
                properties:
                  enable:
                    default: false
                    description: If true, use custom req
                    type: boolean
                  requirements:
                    description: Custom resource requirments
                    properties:
                      limits:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        description: 'Limits describes the maximum amount of compute
                          resources allowed. More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                        type: object
                      requests:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        description: 'Requests describes the minimum amount of compute
                          resources required. If Requests is omitted for a container,
                          it defaults to Limits if that is explicitly specified, otherwise
                          to an implementation-defined value. More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                        type: object
                    type: object
                  workloadClassName:
                    description: Workload class name. Predefined resources
                    type: string
                type: object
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
