
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: datapipelineruns.data.modela.ai
spec:
  group: data.modela.ai
  names:
    categories:
    - data
    - modela
    - all
    kind: DataPipelineRun
    listKind: DataPipelineRunList
    plural: datapipelineruns
    shortNames:
    - dpr
    singular: datapipelinerun
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.phase
      name: Status
      type: string
    - jsonPath: .status.progress
      name: Progress
      type: string
    - jsonPath: .spec.datapipelineName
      name: Pipeline
      type: string
    - jsonPath: .status.startTime
      name: StartTime
      priority: 1
      type: date
    - jsonPath: .status.completionTime
      name: CompletionTime
      priority: 1
      type: date
    - jsonPath: .metadata.lastError
      name: Last Error
      type: date
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: DataPipelineRun represent one execution of the data pipeline
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: DataPipelineRunSpec defines the desired state of a schema
            properties:
              aborted:
                default: false
                description: Set to true to abort the  pipeline run
                type: boolean
              datapipelineName:
                default: ""
                description: The data product
                type: string
              owner:
                default: no-one
                description: The owner of the run, set to the owner of the pipeline
                pattern: '[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*'
                type: string
              paused:
                default: false
                description: Set to true to pause the pipeline run
                type: boolean
              priority:
                default: medium
                description: The priority of this data pipeline. The default is medium.
                enum:
                - low
                - medium
                - high
                - urgent
                type: string
              resources:
                description: Specify the resources for the data pipeline run
                properties:
                  enable:
                    default: false
                    description: If true, use custom req
                    type: boolean
                  requirements:
                    description: Custom resource requirments
                    properties:
                      limits:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        description: 'Limits describes the maximum amount of compute
                          resources allowed. More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                        type: object
                      requests:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        description: 'Requests describes the minimum amount of compute
                          resources required. If Requests is omitted for a container,
                          it defaults to Limits if that is explicitly specified, otherwise
                          to an implementation-defined value. More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                        type: object
                    type: object
                  workloadClassName:
                    description: Workload class name. Predefined resources
                    type: string
                type: object
              versionName:
                default: ""
                description: The data product version of the run
                type: string
            type: object
          status:
            description: DataPipelineRunStatus defines the observed state of DataPipelineRun
            properties:
              conditions:
                items:
                  description: DataPipelineRunCondition describes the state of a data
                    processor run at a certain point.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of account condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              endTime:
                description: CompletionTime is the end time of the pipeline
                format: date-time
                type: string
              lastError:
                default: ""
                description: Last error
                type: string
              lastUpdated:
                description: Last time the object was updated
                format: date-time
                type: string
              logs:
                description: Holds the location of log paths
                properties:
                  bucketName:
                    type: string
                  paths:
                    description: Paths is the log paths
                    items:
                      type: string
                    type: array
                type: object
              observedGeneration:
                description: ObservedGeneration is the Last generation that was acted
                  on
                format: int64
                type: integer
              output:
                description: the resulting dataset from the flow
                properties:
                  bucketName:
                    default: ""
                    description: Bucketname is the name of the bucket
                    type: string
                  connectionName:
                    default: ""
                    description: ConnectionName is the name of the connection to access
                      the database
                    type: string
                  database:
                    default: ""
                    description: Database , the database.
                    type: string
                  path:
                    default: ""
                    description: Path to the full data file (e.g. csv file).
                    type: string
                  sql:
                    default: ""
                    description: SQL statement, in case we choose the view type
                    type: string
                  table:
                    default: ""
                    description: Sql or table or topic name.
                    type: string
                  topic:
                    default: ""
                    description: Topic is the name of the topic in case of streaming
                    type: string
                  type:
                    default: object
                    description: data location type is the type of the data location
                    type: string
                type: object
              phase:
                default: Pending
                description: the phase of the run
                type: string
              progress:
                description: Pipeline progress Progress in precent, the progress takes
                  into account the different stages of the pipeline
                format: int32
                type: integer
              recipeRuns:
                description: RecipeRuns is the names of the recipe runs that occur
                  during running of the pipeline.
                items:
                  type: string
                type: array
              startTime:
                description: StartTime is the start time of the pipeline
                format: date-time
                type: string
            type: object
        required:
        - metadata
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
