
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: webrequests.data.modela.ai
spec:
  group: data.modela.ai
  names:
    categories:
    - data
    - modela
    kind: WebRequest
    listKind: WebRequestList
    plural: webrequests
    singular: webrequest
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .spec.owner
      name: Owner
      type: string
    - jsonPath: .spec.versionName
      name: Version
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: WebRequest represent a single sqlquery in the sqlquery store.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: WebRequestSpec contain the desired state of a WebRequest
            properties:
              description:
                default: ""
                description: Description of the cron api call
                type: string
              owner:
                default: no-one
                description: The sqlquery owner
                type: string
              schedule:
                description: Schedule for running the sql query
                properties:
                  cron:
                    description: Cron string of the schedule.
                    type: string
                  enabled:
                    default: false
                    description: Active denote that the schedule is enabled
                    type: boolean
                  endTime:
                    description: EndTime is the end time of the schedule
                    properties:
                      nanos:
                        description: Non-negative fractions of a second at nanosecond
                          resolution. Negative second values with fractions must still
                          have non-negative nanos values that count forward in time.
                          Must be from 0 to 999,999,999 inclusive. This field may
                          be limited in precision depending on context.
                        format: int32
                        type: integer
                      seconds:
                        description: Represents seconds of UTC time since Unix epoch
                          1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z
                          to 9999-12-31T23:59:59Z inclusive.
                        format: int64
                        type: integer
                    required:
                    - nanos
                    - seconds
                    type: object
                  startTime:
                    description: The start time of the schedule
                    format: date-time
                    type: string
                  type:
                    description: The type of schedule events.
                    enum:
                    - now
                    - once
                    - hourly
                    - daily
                    - weekly
                    - monthly
                    - yearly
                    - cron
                    type: string
                type: object
              template:
                default: ""
                description: The sql template to create.
                properties:
                  description:
                    default: ""
                    description: Description of the cron query
                    type: string
                  owner:
                    default: no-one
                    description: The sqlquery owner
                    type: string
                  schedule:
                    description: Schedule for running the sql query
                    properties:
                      cron:
                        description: Cron string of the schedule.
                        type: string
                      enabled:
                        default: false
                        description: Active denote that the schedule is enabled
                        type: boolean
                      endTime:
                        description: EndTime is the end time of the schedule
                        properties:
                          nanos:
                            description: Non-negative fractions of a second at nanosecond
                              resolution. Negative second values with fractions must
                              still have non-negative nanos values that count forward
                              in time. Must be from 0 to 999,999,999 inclusive. This
                              field may be limited in precision depending on context.
                            format: int32
                            type: integer
                          seconds:
                            description: Represents seconds of UTC time since Unix
                              epoch 1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z
                              to 9999-12-31T23:59:59Z inclusive.
                            format: int64
                            type: integer
                        required:
                        - nanos
                        - seconds
                        type: object
                      startTime:
                        description: The start time of the schedule
                        format: date-time
                        type: string
                      type:
                        description: The type of schedule events.
                        enum:
                        - now
                        - once
                        - hourly
                        - daily
                        - weekly
                        - monthly
                        - yearly
                        - cron
                        type: string
                    type: object
                  template:
                    default: ""
                    description: The sql template to create.
                  versionName:
                    default: ""
                    description: The product version for the sqlquery.
                    type: string
                type: object
              versionName:
                default: ""
                description: The product version for the sqlquery.
                type: string
            type: object
          status:
            description: WebRequestStatus defines the observed state of WebRequest
            properties:
              conditions:
                items:
                  description: WebRequestCondition describes the state of a deployment
                    at a certain point.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, AutoScaler.
                      type: string
                    type:
                      description: Type of account condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              lastRun:
                default: ""
                description: Last Time the query run
                format: date-time
                type: string
            type: object
        required:
        - metadata
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
