
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: features.data.modeld.io
spec:
  group: data.modeld.io
  names:
    categories:
    - data
    - modeld
    kind: Feature
    listKind: FeatureList
    plural: features
    singular: feature
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .spec.versionName
      name: Version
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Feature represent a feature object in the feature store.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: FeatureSpec contain the desired state of a Feature
            properties:
              description:
                description: Comments is a description of the feature
                maxLength: 512
                type: string
              entityName:
                description: The name of the entity containing this feature
                type: string
              featureColumn:
                description: The name of the feature column
                type: string
              featurePipelineName:
                description: The name of the feature pipeline that is producing this
                  feature
                type: string
              keyColumn:
                description: Type name of the column key, this column is the key column
                  in the entity.
                type: string
              name:
                description: FileName specify the name of the attribute
                maxLength: 64
                minLength: 1
                type: string
              owner:
                default: no-one
                description: The feature owner
                type: string
              timestampColumn:
                description: The name of the time stamp column
                type: string
              versionName:
                description: The product version for the feature.
                type: string
            type: object
          status:
            description: FeatureStatus defines the observed state of Feature
            properties:
              conditions:
                items:
                  description: DeploymentCondition describes the state of a deployment
                    at a certain point.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, AutoScaler.
                      type: string
                    type:
                      description: Type of account condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              max:
                description: Max is the maximum value of the attribute
                type: number
              mean:
                description: Mean is the mean value of the attribute
                type: number
              min:
                description: Min is the minimum value of the attribute
                type: number
              name:
                description: FileName is the name of the attribute
                type: string
              nulls:
                description: Nulls is the numbers of zeros in the feature
                format: int32
                type: integer
              p01:
                description: P01 is the numbers of values in the first precent
                type: number
              p99:
                description: P99 is the numbers of values
                type: number
              sha256:
                description: Sha256 contains the signature of
                type: string
              stddev:
                description: StdDev is the standard deviation value of the attribute
                type: number
              zeros:
                description: Zeros is the numbers of zeros in the feature
                format: int32
                type: integer
            type: object
        required:
        - metadata
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
