
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.5.0
  creationTimestamp: null
  name: datapipelines.data.modeld.io
spec:
  group: data.modeld.io
  names:
    categories:
    - data
    - modeld
    kind: DataPipeline
    listKind: DataPipelineList
    plural: datapipelines
    singular: datapipeline
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: DataPipeline represents the ETL flow from the data sources to
          a processed dataset, ready for training.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: DataPipelineSpec defines the desired state of a DataPipeline
            properties:
              description:
                description: Description of the data pipeline
                type: string
              inputDatesets:
                description: InputDatasets is the collection of input dataset names
                  to the data pipelines
                items:
                  type: string
                type: array
              outputDatasetName:
                description: The output file of the pipeline
                type: string
              owner:
                default: no-one
                description: Owner of this data pipeline
                pattern: '[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*'
                type: string
              recipeNames:
                description: RecipeNames is the recipe for this pipeline.
                items:
                  type: string
                type: array
              schedule:
                description: Schedule is a cron field to schedule the data pipeline.
                type: string
              versionName:
                description: VersionName is the data product version of the data pipeline
                type: string
              workloadClassName:
                default: default-workload-class
                description: WorkloadClassName is the name of the workload class used
                  to run this pipeline. This is assigned by the datapipeline
                type: string
            type: object
          status:
            description: DataPipelineStatus is the observed state of the DataPipeline
              object.
            properties:
              conditions:
                items:
                  description: DataPipelineCondition describes the state of a wrangler
                    at a certain point.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of account condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
            type: object
        required:
        - metadata
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
