
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: labelingpipelines.data.modela.ai
spec:
  group: data.modela.ai
  names:
    categories:
    - data
    - modela
    kind: LabelingPipeline
    listKind: LabelingPipelineList
    plural: labelingpipelines
    shortNames:
    - lp
    singular: labelingpipeline
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: LabelingPipeline represents the ETL flow from the data sources
          to a processed dataset, ready for training.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: LabelingPipelineSpec defines the desired state of a LabelingPipeline
            properties:
              activeDeadlineSeconds:
                default: 600
                description: ActiveDeadlineSeconds is the deadline setup on jobs for
                  this labeling pipeline.
                format: int64
                type: integer
              datasetSelector:
                additionalProperties:
                  type: string
                description: DatasetSelector is used to select unlabeled dataset for
                  labeling
                type: object
              description:
                default: ""
                description: User provided description
                type: string
              outputLabelset:
                description: The output file of the pipeline
                type: string
              owner:
                default: no-one
                description: The owner account name
                type: string
              paused:
                default: false
                description: Paused request the labeling pipeline to suspend
                type: boolean
              recipeNames:
                description: The recipe for this pipeline.
                items:
                  type: string
                type: array
              resources:
                description: Resources is the hardware resource req.
                properties:
                  cpu:
                    default: 1
                    description: Cpu requirment in terms of cpu units
                    type: number
                  gpu:
                    default: 0
                    description: Gpu requirment
                    type: number
                  memory:
                    default: 1000
                    description: Memory requirment in terms of megabytes
                    type: number
                  storage:
                    default: 3600
                    description: Storage requirment in megabytes
                    type: number
                  workloadClassName:
                    description: Workload class name
                    type: string
                type: object
              schedule:
                description: Schedule for running the pipeline
                properties:
                  cron:
                    description: Cron string of the schedule.
                    type: string
                  enabled:
                    default: false
                    description: Active denote that the schedule is enabled
                    type: boolean
                  endTime:
                    description: EndTime is the end time of the schedule
                    properties:
                      nanos:
                        description: Non-negative fractions of a second at nanosecond
                          resolution. Negative second values with fractions must still
                          have non-negative nanos values that count forward in time.
                          Must be from 0 to 999,999,999 inclusive. This field may
                          be limited in precision depending on context.
                        format: int32
                        type: integer
                      seconds:
                        description: Represents seconds of UTC time since Unix epoch
                          1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z
                          to 9999-12-31T23:59:59Z inclusive.
                        format: int64
                        type: integer
                    required:
                    - nanos
                    - seconds
                    type: object
                  startTime:
                    description: The start time of the schedule
                    format: date-time
                    type: string
                  type:
                    description: The type of schedule events.
                    enum:
                    - now
                    - once
                    - hourly
                    - daily
                    - weekly
                    - monthly
                    - yearly
                    - cron
                    type: string
                type: object
              ttl:
                default: 0
                description: TTL.
                format: int32
                type: integer
              versionName:
                description: The product of the rejoiner
                type: string
            type: object
          status:
            description: LabelingPipelineStatus is the observed state of the LabelingPipeline
              object.
            properties:
              conditions:
                items:
                  description: LabelingPipelineCondition describes the state of a
                    wrangler at a certain point.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of account condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              lastRun:
                description: Last run is the last time a run was created
                format: date-time
                type: string
              lastUpdated:
                description: Last time the object was updated
                format: date-time
                type: string
              observedGeneration:
                description: ObservedGeneration is the Last generation that was acted
                  on
                format: int64
                type: integer
            type: object
        required:
        - metadata
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
