
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: apicalls.data.modela.ai
spec:
  group: data.modela.ai
  names:
    categories:
    - data
    - modela
    kind: ApiCall
    listKind: ApiCallList
    plural: apicalls
    singular: apicall
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .spec.owner
      name: Owner
      type: string
    - jsonPath: .spec.versionName
      name: Version
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ApiCall represent a single apicall in the apicall store.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ApiCallSpec contain the desired state of a ApiCall
            properties:
              connectionName:
                default: ""
                description: The name of the time stamp column
                type: string
              description:
                default: ""
                description: Comments is a description of the apicall
                maxLength: 512
                type: string
              owner:
                default: no-one
                description: The apicall owner
                type: string
              parameters:
                additionalProperties:
                  type: string
                description: URL Parameters
                type: object
              text:
                default: ""
                description: Type name of the column key, this column is the key column
                  in the entity.
                type: string
              versionName:
                default: ""
                description: The product version for the apicall.
                type: string
            type: object
          status:
            description: ApiCallStatus defines the observed state of ApiCall
            properties:
              conditions:
                items:
                  description: ApiCallCondition describes the state of a deployment
                    at a certain point.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, AutoScaler.
                      type: string
                    type:
                      description: Type of account condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              lastRun:
                default: ""
                description: Last Time the query run
                format: date-time
                type: string
            type: object
        required:
        - metadata
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
