
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: labelingpipelines.data.modeld.io
spec:
  group: data.modeld.io
  names:
    categories:
    - data
    - modeld
    kind: LabelingPipeline
    listKind: LabelingPipelineList
    plural: labelingpipelines
    singular: labelingpipeline
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: LabelingPipeline represents the ETL flow from the data sources
          to a processed dataset, ready for training.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: LabelingPipelineSpec defines the desired state of a LabelingPipeline
            properties:
              description:
                description: User provided description
                type: string
              inputDatesets:
                description: The datasets objects which are used for this pipeline.
                  Each datafile can be from a bucket
                items:
                  type: string
                type: array
              outputLabelset:
                description: The output file of the pipeline
                type: string
              owner:
                default: no-one
                description: The owner account name
                type: string
              recipeNames:
                description: The recipe for this pipeline.
                items:
                  type: string
                type: array
              schedule:
                description: A cron field to schedule the data pipeline.
                type: string
              versionName:
                description: The product of the rejoiner
                type: string
            type: object
          status:
            description: LabelingPipelineStatus is the observed state of the LabelingPipeline
              object.
            properties:
              conditions:
                items:
                  description: LabelingPipelineCondition describes the state of a
                    wrangler at a certain point.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of account condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
            type: object
        required:
        - metadata
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
