
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: labelingpipelineruns.data.modela.ai
spec:
  group: data.modela.ai
  names:
    kind: LabelingPipelineRun
    listKind: LabelingPipelineRunList
    plural: labelingpipelineruns
    singular: labelingpipelinerun
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.phase
      name: Status
      type: string
    - jsonPath: .spec.owner
      name: Owner
      type: string
    - jsonPath: .spec.versionName
      name: Version
      type: string
    - jsonPath: .spec.labelPipelineName
      name: Pipeline
      type: string
    - jsonPath: .status.startTime
      name: StartTime
      priority: 1
      type: date
    - jsonPath: .status.completionTime
      name: CompletionTime
      priority: 1
      type: date
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: LabelingPipeline represent a feature set object in the feature
          store.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: LabelSpec contain the desired state of a Label
            properties:
              labelPipelineName:
                default: ""
                description: LabelPipelineName specifies the name of LabelingPipeline
                maxLength: 64
                type: string
              owner:
                default: no-one
                description: The owner of the LabelingPipelineRunSpec
                type: string
              ttl:
                default: 0
                description: TTL.
                format: int32
                type: integer
              versionName:
                description: The product version for the pipeline
                type: string
              workloadClassName:
                default: default-workload-class
                description: WorkloadClassName is the name of the workload class used
                  to run this pipeline.
                type: string
            required:
            - labelPipelineName
            - owner
            type: object
          status:
            description: LabelPipelineRunStatus defines the observed state of Label
            properties:
              conditions:
                items:
                  description: LabelingPipelineRunCondition describes the state of
                    a deployment at a certain point.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, AutoScaler.
                      type: string
                    type:
                      description: Type of account condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              endTime:
                description: The End time of the run
                format: date-time
                type: string
              lastUpdated:
                description: Last time the object was updated
                format: date-time
                type: string
              observedGeneration:
                description: ObservedGeneration is the Last generation that was acted
                  on
                format: int64
                type: integer
              phase:
                default: Pending
                description: The phase of the labeling pipeline run
                type: string
              startTime:
                description: The Start time of the run
                format: date-time
                type: string
              triggeredBy:
                description: What triggered the run
                enum:
                - on-demand
                - on-schedule
                - on-new-data
                - on-github-event
                - on-concept-drift
                - on-pref-degradation
                type: string
            required:
            - endTime
            - phase
            - startTime
            type: object
        required:
        - metadata
        - spec
        - status
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
