
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: reciperuns.data.modela.ai
spec:
  group: data.modela.ai
  names:
    categories:
    - data
    - modela
    - all
    kind: RecipeRun
    listKind: RecipeRunList
    plural: reciperuns
    shortNames:
    - rcr
    singular: reciperun
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.phase
      name: Status
      type: string
    - jsonPath: .spec.owner
      name: Owner
      type: string
    - jsonPath: .spec.versionName
      name: Version
      type: string
    - jsonPath: .spec.recipeName
      name: Recipe
      type: string
    - jsonPath: .status.startTime
      name: StartTime
      priority: 1
      type: date
    - jsonPath: .status.completionTime
      name: CompletionTime
      priority: 1
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: RecipeRun represent one execution of the recipe. Execution is
          performed by creating a Kubernetes job.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: RecipeSpec defines the desired state of a dataset
            properties:
              labName:
                default: ""
                description: The execution env of this recipes
                type: string
              output:
                description: The location of the data output.
                properties:
                  bucketName:
                    default: ""
                    description: Bucketname is the name of the bucket
                    type: string
                  connectionName:
                    default: ""
                    description: ConnectionName is the name of the connection to access
                      the database
                    type: string
                  database:
                    default: ""
                    description: Database , the database.
                    type: string
                  path:
                    default: ""
                    description: Path to the full data file (e.g. csv file).
                    type: string
                  sql:
                    default: ""
                    description: SQL statement, in case we choose the view type
                    type: string
                  table:
                    default: ""
                    description: Sql or table or topic name.
                    type: string
                  topic:
                    default: ""
                    description: Topic is the name of the topic in case of streaming
                    type: string
                  type:
                    default: object
                    description: data location type is the type of the data location
                    type: string
                type: object
              recipeName:
                default: ""
                description: The name of the recipe that execute this run
                type: string
              resources:
                description: Resources are hardware resource req.
                properties:
                  requirements:
                    description: Custom resource requirments
                    properties:
                      limits:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        description: 'Limits describes the maximum amount of compute
                          resources allowed. More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                        type: object
                      requests:
                        additionalProperties:
                          anyOf:
                          - type: integer
                          - type: string
                          pattern: ^(\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))(([KMGTPE]i)|[numkMGTPE]|([eE](\+|-)?(([0-9]+(\.[0-9]*)?)|(\.[0-9]+))))?$
                          x-kubernetes-int-or-string: true
                        description: 'Requests describes the minimum amount of compute
                          resources required. If Requests is omitted for a container,
                          it defaults to Limits if that is explicitly specified, otherwise
                          to an implementation-defined value. More info: https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/'
                        type: object
                    type: object
                  workloadClassName:
                    description: Workload class name
                    type: string
                type: object
              ttl:
                default: 0
                description: TTL.
                format: int32
                type: integer
              versionName:
                default: ""
                type: string
            type: object
          status:
            description: RecipeStatus defines the observed state of Recipe
            properties:
              conditions:
                items:
                  description: RecipeCondition describes the state of a dataset at
                    a certain point.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: RecipeConditionType is the condition on the Recipe
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              endTime:
                description: Represents the end time
                format: date-time
                type: string
              lastError:
                default: ""
                description: Last error
                type: string
              lastUpdated:
                description: Last time the object was updated
                format: date-time
                type: string
              logs:
                description: Holds the location of log paths
                properties:
                  bucketName:
                    type: string
                  paths:
                    description: Paths is the log paths
                    items:
                      type: string
                    type: array
                type: object
              observedGeneration:
                description: ObservedGeneration is the Last generation that was acted
                  on
                format: int64
                type: integer
              phase:
                default: Pending
                description: The phase of the dataset processing
                type: string
              startTime:
                description: Represents the start time
                format: date-time
                type: string
              triggeredBy:
                description: What triggered the run
                enum:
                - on-demand
                - on-schedule
                - on-new-data
                - on-github-event
                - on-concept-drift
                - on-pref-degradation
                type: string
            type: object
        required:
        - metadata
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
