
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.6.0
  creationTimestamp: null
  name: cronpredictions.inference.modeld.io
spec:
  group: inference.modeld.io
  names:
    categories:
    - inference
    - modeld
    kind: CronPrediction
    listKind: CronPredictionList
    plural: cronpredictions
    shortNames:
    - cpred
    singular: cronprediction
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .spec.owner
      name: Owner
      priority: 1
      type: string
    - jsonPath: .spec.predictorName
      name: Predictor
      type: string
    - jsonPath: .spec.schedule
      name: Schedule
      type: string
    - jsonPath: .status.lastRun
      name: Last Run
      type: date
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: CronPrediction represents a single run of the Prediction Pipeline
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: CronPredictionSpec represent the desired state of CronPrediction
            properties:
              owner:
                default: no-one
                description: The owner account name
                type: string
              paused:
                default: false
                description: Set to true to pause the cron prediction
                type: boolean
              priority:
                default: medium
                description: The priority of this data pipeline. The defualt is medium.
                enum:
                - low
                - medium
                - high
                - urgent
                type: string
              schedule:
                description: Schedule is the cron schedule Schedule for running the
                  pipeline
                type: string
              template:
                description: Template refer to the prediction template
                properties:
                  spec:
                    description: PredictionSpec represent the desired state of Prediction
                    properties:
                      activeDeadlineSeconds:
                        default: 600
                        description: ActiveDeadlineSeconds is the deadline of a job
                          for this dataset.
                        format: int64
                        minimum: 0
                        type: integer
                      createTableIfNotExist:
                        description: Create the data source table on the target, if
                          not exist.
                        type: boolean
                      datasetName:
                        default: ""
                        type: string
                      includeFeatures:
                        description: Include the features in the results
                        type: boolean
                      input:
                        description: Input is the location of the input file if not
                          using a dataset
                        properties:
                          bot:
                            description: Bot is a channel that uses chats for input
                              and output
                            properties:
                              connectionName:
                                description: the connection to the messaging provider
                                  Required,
                                type: string
                              notifierName:
                                description: The name of the notifier that will be
                                  used by the prediction bot. Required
                                type: string
                            type: object
                          flatfile:
                            description: Bucket is a channel where predictions are
                              placed in a bucket folder and results are placed in
                              another folder
                            properties:
                              connectionName:
                                description: the connection to the cloud provider
                                  Required,
                                type: string
                              databaseConnectionName:
                                description: Required,
                                type: string
                              inputKey:
                                description: The location of the input or the output
                                  Required,
                                type: string
                            type: object
                          streaming:
                            description: Define a streaming channel for the predictor
                            properties:
                              connectionName:
                                description: StorageConnection name to the streaming
                                  provider
                                type: string
                              inputKey:
                                default: ""
                                description: the streaming topic (input or output)
                                type: string
                            type: object
                          table:
                            description: Table is a channel that uses RDBMS for input
                              and output
                            properties:
                              connectionName:
                                description: connection to the database provider
                                type: string
                              datasourceName:
                                default: ""
                                description: Options, this is the datasource containing
                                  the table schema
                                type: string
                              tableName:
                                default: ""
                                description: The table name. Optional Default to the
                                  predictor name
                                type: string
                            type: object
                        type: object
                      labeled:
                        default: false
                        description: Labeled , true if this is labeled prediction
                          request. Used usally for unit testing
                        type: boolean
                      output:
                        description: Output is the location of the output file.
                        properties:
                          bot:
                            description: Bot is a channel that uses chats for input
                              and output
                            properties:
                              connectionName:
                                description: the connection to the messaging provider
                                  Required,
                                type: string
                              notifierName:
                                description: The name of the notifier that will be
                                  used by the prediction bot. Required
                                type: string
                            type: object
                          flatfile:
                            description: Bucket is a channel where predictions are
                              placed in a bucket folder and results are placed in
                              another folder
                            properties:
                              connectionName:
                                description: the connection to the cloud provider
                                  Required,
                                type: string
                              databaseConnectionName:
                                description: Required,
                                type: string
                              inputKey:
                                description: The location of the input or the output
                                  Required,
                                type: string
                            type: object
                          streaming:
                            description: Define a streaming channel for the predictor
                            properties:
                              connectionName:
                                description: StorageConnection name to the streaming
                                  provider
                                type: string
                              inputKey:
                                default: ""
                                description: the streaming topic (input or output)
                                type: string
                            type: object
                          table:
                            description: Table is a channel that uses RDBMS for input
                              and output
                            properties:
                              connectionName:
                                description: connection to the database provider
                                type: string
                              datasourceName:
                                default: ""
                                description: Options, this is the datasource containing
                                  the table schema
                                type: string
                              tableName:
                                default: ""
                                description: The table name. Optional Default to the
                                  predictor name
                                type: string
                            type: object
                        type: object
                      owner:
                        default: no-one
                        description: The owner account name
                        type: string
                      predictorName:
                        default: ""
                        description: PredictorName refer to the predictor which would
                          predict the dataset of this prediction.
                        maxLength: 63
                        type: string
                      priority:
                        default: medium
                        description: The priority of this prediction. The defualt
                          is medium.
                        enum:
                        - low
                        - medium
                        - high
                        - urgent
                        type: string
                      tests:
                        description: Tests is the list of metrics that we need to
                          measure if we are running a labeled prediction
                        items:
                          description: Metric is the machine learning metric used
                            to evaluate a model performance.
                          enum:
                          - accuracy
                          - average-precision
                          - balanced-accuracy
                          - brier-score-loss
                          - f1
                          - f1-macro
                          - f1-micro
                          - f1-weighted
                          - log-loss
                          - precision
                          - precision-micro
                          - precision-macro
                          - precision-weighted
                          - recall
                          - recall-macro
                          - recall-micro
                          - recall-weighted
                          - auc
                          - fp
                          - fn
                          - tn
                          - tp
                          - explained_variance
                          - mae
                          - mse
                          - msle
                          - median-absolute-error
                          - r2
                          - adjusted-mutual-info-score
                          - adjusted-rand-score
                          - completeness-score
                          - fowlkes-mallows-score
                          - homogeneity-score
                          - mutual-info-score
                          - normalized-mutual-info-score
                          - v-measure-score
                          - rmse
                          - unknown
                          - mape
                          - smape
                          - mdape
                          type: string
                        type: array
                      updateStrategy:
                        description: Update strategy
                        enum:
                        - upsert
                        - insert
                        - update
                        type: string
                      versionName:
                        default: ""
                        description: VersionName is the data product version of the
                          data pipeline
                        type: string
                      workloadClassName:
                        default: default-prediction-workload-class
                        description: A reference to the workload class that is used
                          for training
                        type: string
                      xai:
                        default: false
                        description: Generate XAI
                        type: boolean
                    type: object
                required:
                - spec
                type: object
              versionName:
                default: ""
                description: VersionName is the data product version of the data pipeline
                type: string
            required:
            - template
            type: object
          status:
            description: CronPredictionStatus is the observed state of a PredictionTemplate
            properties:
              conditions:
                items:
                  description: PredictionCondition describes the state of PredictionTemplate
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of  condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              lastRun:
                description: Last run is the last time a run was created
                format: date-time
                type: string
              lastUpdated:
                description: Last time the object was updated
                format: date-time
                type: string
              observedGeneration:
                description: ObservedGeneration is the Last generation that was acted
                  on
                format: int64
                type: integer
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
