
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.5.0
  creationTimestamp: null
  name: predictions.inference.modeld.io
spec:
  group: inference.modeld.io
  names:
    categories:
    - inference
    - modeld
    kind: Prediction
    listKind: PredictionList
    plural: predictions
    singular: prediction
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .spec.predictorName
      name: Predictor
      type: string
    - jsonPath: .spec.datasetName
      name: Bucket
      type: string
    - jsonPath: .spec.datasetName
      name: File
      type: string
    - jsonPath: .spec.datasetName
      name: Labeled
      type: string
    - jsonPath: .status.score
      name: Score
      type: string
    - jsonPath: .status.phase
      name: Status
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: PredictionTemplate represents a prediction object
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: PredictionSpec represent the desired state of Prediction
            properties:
              datasetName:
                description: DatasetName is where we are using a dataset name. This
                  can be dataset name
                type: string
              input:
                description: Input is the location of the input file if not using
                  a dataset
                properties:
                  bucketName:
                    type: string
                  path:
                    description: Path to the full data file (e.g. csv file).
                    type: string
                required:
                - bucketName
                - path
                type: object
              labeled:
                default: false
                description: Labeled , true if this is labeled prediction request.
                  Used usally for unit testing
                type: boolean
              objective:
                description: The objective metric used to score
                enum:
                - accuracy
                - average-precision
                - balanced-accuracy
                - brier-score-loss
                - f1
                - f1-macro
                - f1-micro
                - f1-weighted
                - log-loss
                - precision
                - precision-micro
                - precision-macro
                - precision-weighted
                - recall
                - recall-macro
                - recall-micro
                - recall-weighted
                - auc
                - fp
                - fn
                - tn
                - tp
                - explained_variance
                - mae
                - mse
                - msle
                - median-absolute-error
                - r2
                - adjusted-mutual-info-score
                - adjusted-rand-score
                - completeness-score
                - fowlkes-mallows-score
                - homogeneity-score
                - mutual-info-score
                - normalized-mutual-info-score
                - v-measure-score
                - rmse
                - unknown
                - mape
                - smape
                - mdape
                type: string
              output:
                description: Output is the location of the output file.
                properties:
                  bucketName:
                    type: string
                  path:
                    description: Path to the full data file (e.g. csv file).
                    type: string
                required:
                - bucketName
                - path
                type: object
              owner:
                description: The owner account name
                type: string
              predictorName:
                description: PredictorName refer to the predictor which would predict
                  the dataset of this prediction.
                maxLength: 63
                minLength: 1
                type: string
              schedule:
                description: Schedule for running the pipeline
                properties:
                  cron:
                    description: Cron string of the schedule.
                    type: string
                  endDay:
                    description: EndDay is the end day of the schedule
                    format: date-time
                    type: string
                  endTime:
                    description: EndTime is the end time of the schedule
                    properties:
                      nanos:
                        description: Non-negative fractions of a second at nanosecond
                          resolution. Negative second values with fractions must still
                          have non-negative nanos values that count forward in time.
                          Must be from 0 to 999,999,999 inclusive. This field may
                          be limited in precision depending on context.
                        format: int32
                        type: integer
                      seconds:
                        description: Represents seconds of UTC time since Unix epoch
                          1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z
                          to 9999-12-31T23:59:59Z inclusive.
                        format: int64
                        type: integer
                    required:
                    - nanos
                    - seconds
                    type: object
                  startDay:
                    description: StartDay is the start day of the schedule
                    format: date-time
                    type: string
                  startTime:
                    description: The start time of the schedule
                    format: date-time
                    type: string
                  type:
                    description: The type of schedule events.
                    enum:
                    - now
                    - once
                    - hourly
                    - daily
                    - weekly
                    - monthly
                    - yearly
                    - cron
                    type: string
                type: object
              workloadClassName:
                default: default-prediction-workload-class
                description: A reference to the workload class that is used for training
                type: string
            type: object
          status:
            description: PredictionStatus is the observed state of a PredictionTemplate
            properties:
              conditions:
                items:
                  description: PredictionCondition describes the state of PredictionTemplate
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of  condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
