
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: curtains.inference.modeld.io
spec:
  group: inference.modeld.io
  names:
    categories:
    - inference
    - modeld
    - all
    kind: Curtain
    listKind: CurtainList
    plural: curtains
    singular: curtain
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .spec.servingsiteRef.name
      name: Serving Site
      type: string
    - jsonPath: .spec.datasetRef.name
      name: Dataset
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Curtain represent a Curtain API object
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: CurtainSpec define the desired state of a Curtain
            properties:
              datasetName:
                description: The dataset that store the wizard answers
                type: string
              description:
                description: User provided description
                type: string
              owner:
                description: The owner account name
                type: string
              question:
                description: Question to ask the wizard
                maxLength: 256
                type: string
              servingsiteName:
                description: The product of the resource
                type: string
              versionName:
                description: User provided description
                type: string
              wizards:
                description: The wizards him self. This is a reference to one or more
                  wizards objects.
                items:
                  type: string
                type: array
            type: object
          status:
            description: CurtainStatus contain the observed state of the Curtain object.
            properties:
              conditions:
                items:
                  description: CurtainCondition describes the state of a wizard of
                    oz at a certain point.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of account condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
