
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: dataapps.inference.modela.ai
spec:
  group: inference.modela.ai
  names:
    categories:
    - data
    - modela
    kind: DataApp
    listKind: DataAppList
    plural: dataapps
    singular: dataapp
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .spec.owner
      name: Owner
      type: string
    - jsonPath: .spec.versionName
      name: Version
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: DataApp represent a dashboard for business users to use a single
          model.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: DataAppSpec contain the desired state of a DataApp
            properties:
              accessType:
                default: cluster-port
                description: 'The access method specified how external clients will
                  access the predictor Default: ClusterPort'
                enum:
                - cluster-port
                - node-port
                - load-balancer
                - ingress
                - mesh
                - none
                type: string
              custom:
                description: Custom application
                properties:
                  owner:
                    default: ""
                    description: The app title
                    type: string
                  pages:
                    default: ""
                    description: The app pages
                    items:
                      properties:
                        rows:
                          items:
                            properties:
                              cols:
                                items:
                                  description: The spec for a column in the row. A
                                    column can span multiple grid based columns
                                  properties:
                                    barChart:
                                      description: Bar Chart
                                      properties:
                                        datasetName:
                                          description: Dataset is the name of the
                                            dataset
                                          type: string
                                        legend:
                                          description: Show borther
                                          type: boolean
                                        sort:
                                          description: Show borther
                                          type: boolean
                                        x:
                                          description: name of the X column
                                          type: string
                                        "y":
                                          description: Y column
                                          type: string
                                      type: object
                                    footer:
                                      type: string
                                    gauge:
                                      properties:
                                        column:
                                          description: Column is the name of the column
                                          type: string
                                        datasetName:
                                          description: Dataset is the name of the
                                            dataset
                                          type: string
                                        row:
                                          description: Row is the row number
                                          format: int32
                                          type: integer
                                        scalar:
                                          description: Scalar the a const value
                                          type: string
                                      type: object
                                    histogram:
                                      properties:
                                        bins:
                                          description: Show borther
                                          format: int32
                                          type: integer
                                        datasetName:
                                          description: Dataset is the name of the
                                            dataset
                                          type: string
                                        x:
                                          description: name of the X column
                                          type: string
                                      type: object
                                    lineChart:
                                      properties:
                                        datasetName:
                                          description: Dataset is the name of the
                                            dataset
                                          type: string
                                        legend:
                                          description: Show borther
                                          type: boolean
                                        x:
                                          description: name of the X column
                                          type: string
                                        "y":
                                          description: Y column
                                          type: string
                                      type: object
                                    metric:
                                      properties:
                                        column:
                                          description: Column is the name of the column
                                          type: string
                                        datasetName:
                                          description: Dataset is the name of the
                                            dataset
                                          type: string
                                        row:
                                          description: Row is the row number
                                          format: int32
                                          type: integer
                                        scalar:
                                          description: Scalar the a const value
                                          type: string
                                      type: object
                                    scatterPlot:
                                      properties:
                                        datasetName:
                                          description: Dataset is the name of the
                                            dataset
                                          type: string
                                        x:
                                          description: name of the X column
                                          type: string
                                        "y":
                                          description: name of the Y axis columns
                                          type: string
                                      type: object
                                    spacer:
                                      description: If true this column is an empty
                                        spacer
                                      type: boolean
                                    subtitle:
                                      type: string
                                    table:
                                      properties:
                                        border:
                                          description: Show borther
                                          type: boolean
                                        columns:
                                          description: List of table columns, if empty
                                            use call the columns
                                          items:
                                            type: string
                                          type: array
                                        datasetName:
                                          description: Dataset is the name of the
                                            dataset
                                          type: string
                                        filters:
                                          description: one or more filters
                                          items:
                                            type: string
                                          type: array
                                        groupby:
                                          description: Groupby columns
                                          items:
                                            type: string
                                          type: array
                                        rows:
                                          description: Row is the row number
                                          format: int32
                                          type: integer
                                        showIndex:
                                          description: Show index column
                                          type: boolean
                                      type: object
                                    title:
                                      type: string
                                    width:
                                      description: The width in columns, each row
                                        is divided into 12 columns
                                      format: int32
                                      type: integer
                                  type: object
                                type: array
                            type: object
                          type: array
                      type: object
                    type: array
                type: object
              description:
                default: ""
                description: Comments is a description of the webrequest
                type: string
              modelName:
                default: ""
                description: The name of the predictive app model. The model will
                  be used
                type: string
              owner:
                default: no-one
                description: The webrequest owner
                type: string
              path:
                default: ""
                description: The path of the predictive path
                type: string
              port:
                default: 3000
                description: The port for the app
                format: int32
                maximum: 65535
                minimum: 1
                type: integer
              productRef:
                description: The product that this predictor serve.
                properties:
                  apiVersion:
                    description: API version of the referent.
                    type: string
                  fieldPath:
                    description: 'If referring to a piece of an object instead of
                      an entire object, this string should contain a valid JSON/Go
                      field access statement, such as desiredState.manifest.containers[2].
                      For example, if the object reference is to a container within
                      a pod, this would take on a value like: "spec.containers{name}"
                      (where "name" refers to the name of the container that triggered
                      the event) or if no container name is specified "spec.containers[2]"
                      (container with index 2 in this pod). This syntax is chosen
                      only to have some well-defined way of referencing a part of
                      an object. TODO: this design is not final and this field is
                      subject to change in the future.'
                    type: string
                  kind:
                    description: 'Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                    type: string
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                    type: string
                  namespace:
                    description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                    type: string
                  resourceVersion:
                    description: 'Specific resourceVersion to which this reference
                      is made, if any. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency'
                    type: string
                  uid:
                    description: 'UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids'
                    type: string
                type: object
              replicas:
                default: 1
                description: Number of replicates
                format: int32
                type: integer
              servingsiteRef:
                description: The serving site that hosts this predictor and the models
                properties:
                  apiVersion:
                    description: API version of the referent.
                    type: string
                  fieldPath:
                    description: 'If referring to a piece of an object instead of
                      an entire object, this string should contain a valid JSON/Go
                      field access statement, such as desiredState.manifest.containers[2].
                      For example, if the object reference is to a container within
                      a pod, this would take on a value like: "spec.containers{name}"
                      (where "name" refers to the name of the container that triggered
                      the event) or if no container name is specified "spec.containers[2]"
                      (container with index 2 in this pod). This syntax is chosen
                      only to have some well-defined way of referencing a part of
                      an object. TODO: this design is not final and this field is
                      subject to change in the future.'
                    type: string
                  kind:
                    description: 'Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                    type: string
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                    type: string
                  namespace:
                    description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                    type: string
                  resourceVersion:
                    description: 'Specific resourceVersion to which this reference
                      is made, if any. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency'
                    type: string
                  uid:
                    description: 'UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids'
                    type: string
                type: object
              versionName:
                default: ""
                description: The product version for the webrequest.
                type: string
              workloadClassName:
                default: ""
                description: The workload class to use when running the app pod
                type: string
            type: object
          status:
            description: DataAppStatus defines the observed state of DataApp
            properties:
              conditions:
                items:
                  description: DataAppCondition describes the state of a deployment
                    at a certain point.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, AutoScaler.
                      type: string
                    type:
                      description: Type of account condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              lastUpdated:
                description: Last time the object was updated
                format: date-time
                type: string
              observedGeneration:
                description: ObservedGeneration is the Last generation that was acted
                  on
                format: int64
                type: integer
            type: object
        required:
        - metadata
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
