
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.5.0
  creationTimestamp: null
  name: accounts.infra.modeld.io
spec:
  group: infra.modeld.io
  names:
    categories:
    - infra
    - modeld
    kind: Account
    listKind: AccountList
    plural: accounts
    shortNames:
    - acct
    singular: account
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .spec.type
      name: Type
      type: string
    - jsonPath: .spec.userName
      name: Username
      type: string
    - jsonPath: .spec.groupName
      name: Groupname
      type: string
    - jsonPath: .spec.phone
      name: Phone
      type: string
    - jsonPath: .spec.email
      name: Email
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Account represents a user or team in the system
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AccountSpec defines the desired state of Account
            properties:
              admin:
                default: false
                description: User is admin. Admin have full control on other accounts.
                type: boolean
              email:
                default: ""
                description: Email specify the email of the user
                maxLength: 64
                type: string
              emailPassword:
                default: false
                description: Email account creation event to user (using the user
                  email)
                type: boolean
              firstName:
                default: ""
                description: First FileName is the user first name
                maxLength: 64
                type: string
              groupName:
                default: ""
                description: GroupName is a reference to the group account
                type: string
              labBindings:
                description: LabBinding is the RBAC roles that the user have within
                  each lab
                items:
                  properties:
                    entity:
                      description: Entity is the name of the entity, can be a product
                        name,lab name or serving site name
                      type: string
                    role:
                      description: The role in relation to the entity.
                      enum:
                      - administrator
                      - data-analyst
                      - data-scientist
                      - data-engineer
                      - data-steward
                      - product-manager
                      - risk-manager
                      - software-engineer
                      - ml-engineer
                      type: string
                  type: object
                type: array
              lastName:
                default: ""
                description: LastName is the user last name
                maxLength: 64
                type: string
              phone:
                default: ""
                description: Phone specify the phone of the user
                maxLength: 64
                type: string
              productBindings:
                description: ProductBinding is the premission that the user have for
                  each product
                items:
                  properties:
                    entity:
                      description: Entity is the name of the entity, can be a product
                        name,lab name or serving site name
                      type: string
                    role:
                      description: The role in relation to the entity.
                      enum:
                      - administrator
                      - data-analyst
                      - data-scientist
                      - data-engineer
                      - data-steward
                      - product-manager
                      - risk-manager
                      - software-engineer
                      - ml-engineer
                      type: string
                  type: object
                type: array
              resetPassword:
                default: false
                description: User need to reset password upon login
                type: boolean
              siteBindings:
                description: SiteBindings is the RBAC roles that the user have within
                  each serving site.
                items:
                  properties:
                    entity:
                      description: Entity is the name of the entity, can be a product
                        name,lab name or serving site name
                      type: string
                    role:
                      description: The role in relation to the entity.
                      enum:
                      - administrator
                      - data-analyst
                      - data-scientist
                      - data-engineer
                      - data-steward
                      - product-manager
                      - risk-manager
                      - software-engineer
                      - ml-engineer
                      type: string
                  type: object
                type: array
              tenantRef:
                description: TenantRef is the account tenant
                properties:
                  apiVersion:
                    description: API version of the referent.
                    type: string
                  fieldPath:
                    description: 'If referring to a piece of an object instead of
                      an entire object, this string should contain a valid JSON/Go
                      field access statement, such as desiredState.manifest.containers[2].
                      For example, if the object reference is to a container within
                      a pod, this would take on a value like: "spec.containers{name}"
                      (where "name" refers to the name of the container that triggered
                      the event) or if no container name is specified "spec.containers[2]"
                      (container with index 2 in this pod). This syntax is chosen
                      only to have some well-defined way of referencing a part of
                      an object. TODO: this design is not final and this field is
                      subject to change in the future.'
                    type: string
                  kind:
                    description: 'Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                    type: string
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                    type: string
                  namespace:
                    description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                    type: string
                  resourceVersion:
                    description: 'Specific resourceVersion to which this reference
                      is made, if any. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency'
                    type: string
                  uid:
                    description: 'UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids'
                    type: string
                type: object
              type:
                default: user
                description: Type is the type of account - user, group. default is
                  user
                enum:
                - user
                - group
                type: string
              userName:
                description: UserName specifies the name of the account
                maxLength: 64
                minLength: 4
                type: string
            type: object
          status:
            description: AccountStatus defines the actual state of the api object
            properties:
              conditions:
                description: Represents the latest available observations of a account
                  state.
                items:
                  description: AccountCondition describes the state of a account at
                    a certain point.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of account condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              lastUpdated:
                description: Last time the object was updated
                format: date-time
                type: string
              observedGeneration:
                description: ObservedGeneration is the Last generation that was acted
                  on
                format: int64
                type: integer
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
