---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: notifiers.infra.modela.ai
spec:
  group: infra.modela.ai
  names:
    categories:
    - infra
    - modela
    kind: Notifier
    listKind: NotifierList
    plural: notifiers
    singular: notifier
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .spec.owner
      name: Owner
      type: string
    - jsonPath: .spec.connectionName
      name: Connection
      type: string
    - jsonPath: .spec.from
      name: From
      type: string
    - jsonPath: .spec.to
      name: To
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: NotifierSpec defines the desired state of Notifier
            properties:
              channels:
                description: Specify the notifier channels
                items:
                  description: Define the a specific notification channel
                  properties:
                    connectionName:
                      default: ""
                      type: string
                    enabled:
                      default: true
                      description: Is this notifier can send notification
                      type: boolean
                    error:
                      default: true
                      description: Send error messages via this channel
                      type: boolean
                    from:
                      description: This channel start time.
                      format: date-time
                      type: string
                    info:
                      default: false
                      description: Send info messages via this channel
                      type: boolean
                    to:
                      description: This channel end time.
                      format: date-time
                      type: string
                  required:
                  - connectionName
                  type: object
                type: array
              description:
                default: ""
                description: User provided description
                type: string
              enabled:
                default: true
                description: Is this notifier can send notification
                type: boolean
              owner:
                default: no-one
                description: The owner account name
                type: string
              tenantRef:
                description: The tenant that own the notifier Default to default tenant.
                properties:
                  apiVersion:
                    description: API version of the referent.
                    type: string
                  fieldPath:
                    description: 'If referring to a piece of an object instead of
                      an entire object, this string should contain a valid JSON/Go
                      field access statement, such as desiredState.manifest.containers[2].
                      For example, if the object reference is to a container within
                      a pod, this would take on a value like: "spec.containers{name}"
                      (where "name" refers to the name of the container that triggered
                      the event) or if no container name is specified "spec.containers[2]"
                      (container with index 2 in this pod). This syntax is chosen
                      only to have some well-defined way of referencing a part of
                      an object. TODO: this design is not final and this field is
                      subject to change in the future.'
                    type: string
                  kind:
                    description: 'Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                    type: string
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                    type: string
                  namespace:
                    description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                    type: string
                  resourceVersion:
                    description: 'Specific resourceVersion to which this reference
                      is made, if any. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency'
                    type: string
                  uid:
                    description: 'UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids'
                    type: string
                type: object
            type: object
          status:
            description: NotifierStatus is the observed state of a Notifier
            properties:
              channelsStatus:
                description: The last channel status
                items:
                  properties:
                    failureMessage:
                      description: Update in case of terminal failure message
                      type: string
                    failureReason:
                      description: In case of notification failure Borrowed from cluster
                        api controller
                      type: string
                    lastMessage:
                      description: The last time a message was sent on this channel
                      format: date-time
                      type: string
                  type: object
                type: array
              conditions:
                items:
                  description: NotifierCondition describes the state of the license
                    at a certain point.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, AutoScaler.
                      type: string
                    type:
                      description: Type of account condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              lastUpdated:
                description: Last time the object was updated
                format: date-time
                type: string
              observedGeneration:
                description: ObservedGeneration is the Last generation that was acted
                  on
                format: int64
                type: integer
              provider:
                description: provider is the name of the notifier provider. The name
                  is derived from the connection
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
