
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: notebookruns.training.modela.ai
spec:
  group: training.modela.ai
  names:
    categories:
    - training
    - modela
    - all
    kind: NotebookRun
    listKind: NotebookRunList
    plural: notebookruns
    shortNames:
    - nbr
    singular: notebookrun
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.phase
      name: Status
      type: string
    - jsonPath: .spec.owner
      name: Owner
      priority: 1
      type: string
    - jsonPath: .spec.notebookName
      name: Notebook
      type: string
    - jsonPath: .status.startTime
      name: StartTime
      priority: 1
      type: date
    - jsonPath: .status.completionTime
      name: CompletionTime
      priority: 1
      type: date
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: NotebookRun represent a single execution of a notebook with a
          specific env variables
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: NotebookRunSpec defines the desired state of the NotebookRun
              resource
            properties:
              notebookName:
                description: NotebookName of the notebook for this run
                type: string
              owner:
                default: no-one
                description: Owner account name
                type: string
              values:
                description: Values to pass to the notebook during execution
                items:
                  description: NotebookVarValue is an assignment of value to the notebook
                    var
                  properties:
                    name:
                      type: string
                    value:
                      type: string
                  required:
                  - name
                  - value
                  type: object
                type: array
              versionName:
                description: VersionName of the data product for this notebook
                type: string
              workloadClassName:
                default: nano-cpu-250m-mem-256mi
                description: WorkloadClassName is the name of the workload class used
                  to run this model. This is assigned by the study
                type: string
            type: object
          status:
            description: NotebookRunStatus define that observed state of NotebookRun
              resource
            properties:
              conditions:
                items:
                  description: NotebookRunCondition describes the state of a notebook
                    run.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of account condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              endTime:
                description: EndTime is the time that this prediction job finished
                format: date-time
                type: string
              lastError:
                default: ""
                description: Last error
                type: string
              observedGeneration:
                description: ObservedGeneration is the Last generation that was acted
                  on
                format: int64
                type: integer
              phase:
                default: Pending
                description: The phase of the notebook
                type: string
              startTime:
                description: StartTime is the times that this prediction job started
                format: date-time
                type: string
              triggeredBy:
                description: What triggered the run
                enum:
                - on-demand
                - on-schedule
                - on-new-data
                - on-github-event
                - on-concept-drift
                - on-pref-degradation
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
