
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: notebooks.training.modela.ai
spec:
  group: training.modela.ai
  names:
    categories:
    - training
    - modela
    - all
    kind: Notebook
    listKind: NotebookList
    plural: notebooks
    shortNames:
    - nb
    singular: notebook
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Notebook represent a notebook object which specify a single notebook
          execution
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: NotebookSpec is the desired state of the notebook resource.
            properties:
              activeDeadlineSeconds:
                default: 600
                description: ActiveDeadlineSeconds is the deadline of a job for this
                  notebook.
                format: int64
                minimum: 0
                type: integer
              debPackages:
                description: DebPackages is a list of deb package to install
                type: string
              description:
                default: ""
                description: User provided description
                maxLength: 512
                type: string
              imageName:
                default: ""
                description: A reference to the container image repository for this
                  notebook.
                type: string
              location:
                description: Location is the location of the notebook file
                properties:
                  bucketName:
                    default: ""
                    description: Bucketname is the name of the bucket
                    type: string
                  connectionName:
                    default: ""
                    description: ConnectionName is the name of the connection to access
                      the database
                    type: string
                  database:
                    default: ""
                    description: Database , the database.
                    type: string
                  path:
                    default: ""
                    description: Path to the full data file (e.g. csv file).
                    type: string
                  sql:
                    default: ""
                    description: SQL statement, in case we choose the view type
                    type: string
                  table:
                    default: ""
                    description: Sql or table or topic name.
                    type: string
                  topic:
                    default: ""
                    description: Topic is the name of the topic in case of streaming
                    type: string
                  type:
                    default: object
                    description: data location type is the type of the data location
                    type: string
                type: object
              owner:
                default: no-one
                description: The owner account name
                type: string
              paused:
                default: false
                description: Set to true to pause the notebook
                type: boolean
              priority:
                default: medium
                description: The priority of this notebook run. The default is medium.
                enum:
                - low
                - medium
                - high
                - urgent
                type: string
              requirements:
                default: ""
                description: Requirements python file
                type: string
              resources:
                description: Resource are the hardware req.
                properties:
                  cpu:
                    default: 1
                    description: Cpu requirment in terms of cpu units
                    type: number
                  gpu:
                    default: 0
                    description: Gpu requirment
                    type: number
                  memory:
                    default: 1000
                    description: Memory requirment in terms of megabytes
                    type: number
                  storage:
                    default: 3600
                    description: Storage requirment in megabytes
                    type: number
                  workloadClassName:
                    description: Workload class name
                    type: string
                type: object
              schedule:
                description: Schedule for running the pipeline
                properties:
                  cron:
                    description: Cron string of the schedule.
                    type: string
                  enabled:
                    default: false
                    description: Active denote that the schedule is enabled
                    type: boolean
                  endTime:
                    description: EndTime is the end time of the schedule
                    properties:
                      nanos:
                        description: Non-negative fractions of a second at nanosecond
                          resolution. Negative second values with fractions must still
                          have non-negative nanos values that count forward in time.
                          Must be from 0 to 999,999,999 inclusive. This field may
                          be limited in precision depending on context.
                        format: int32
                        type: integer
                      seconds:
                        description: Represents seconds of UTC time since Unix epoch
                          1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z
                          to 9999-12-31T23:59:59Z inclusive.
                        format: int64
                        type: integer
                    required:
                    - nanos
                    - seconds
                    type: object
                  startTime:
                    description: The start time of the schedule
                    format: date-time
                    type: string
                  type:
                    description: The type of schedule events.
                    enum:
                    - now
                    - once
                    - hourly
                    - daily
                    - weekly
                    - monthly
                    - yearly
                    - cron
                    type: string
                type: object
              schemaRef:
                description: SchemaName relate a notebook to a schema. The schema
                  object will be accessible from the notebook
                properties:
                  apiVersion:
                    description: API version of the referent.
                    type: string
                  fieldPath:
                    description: 'If referring to a piece of an object instead of
                      an entire object, this string should contain a valid JSON/Go
                      field access statement, such as desiredState.manifest.containers[2].
                      For example, if the object reference is to a container within
                      a pod, this would take on a value like: "spec.containers{name}"
                      (where "name" refers to the name of the container that triggered
                      the event) or if no container name is specified "spec.containers[2]"
                      (container with index 2 in this pod). This syntax is chosen
                      only to have some well-defined way of referencing a part of
                      an object. TODO: this design is not final and this field is
                      subject to change in the future.'
                    type: string
                  kind:
                    description: 'Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                    type: string
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                    type: string
                  namespace:
                    description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                    type: string
                  resourceVersion:
                    description: 'Specific resourceVersion to which this reference
                      is made, if any. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency'
                    type: string
                  uid:
                    description: 'UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids'
                    type: string
                type: object
              vars:
                description: vars to pass to the notebook
                items:
                  type: string
                type: array
              versionName:
                default: latest
                description: The version of the notebook
                type: string
            type: object
          status:
            description: NotebookStatus is the observed state of the notebook resource
            properties:
              conditions:
                items:
                  description: NotebookCondition describes the state of a notebook
                    at a certain point.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of account condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              image:
                description: Image is the name of the image after publication
                type: string
              lastRun:
                description: Last run is the last time a run was created
                format: date-time
                type: string
              lastUpdated:
                description: Last time the object was updated
                format: date-time
                type: string
              observedGeneration:
                description: ObservedGeneration is the Last generation that was acted
                  on
                format: int64
                type: integer
              uri:
                description: The URI of the notebook in the bucket.
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
