
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.5.0
  creationTimestamp: null
  name: reports.training.modeld.io
spec:
  group: training.modeld.io
  names:
    categories:
    - training
    - modeld
    - all
    kind: Report
    listKind: ReportList
    plural: reports
    singular: report
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .spec.owner
      name: Owner
      priority: 1
      type: string
    - jsonPath: .spec.versionName
      name: Version
      type: string
    - jsonPath: .spec.reportType
      name: Type
      type: string
    - jsonPath: .status.phase
      name: Status
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ReportName represent a report object. A report is a pdf report
          which contain images and tables about another object
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ReportSpec specifies the desired state of the ReportName
              resource
            properties:
              activeDeadlineSeconds:
                default: 600
                description: ActiveDeadlineSeconds is the deadline of a job for this
                  report.
                format: int64
                type: integer
              description:
                description: NotifierRef is areference to the notifier that is used
                  to send the report
                type: string
              entityRef:
                description: EntityRef specify the entity being report. Currently
                  entities can be dataset,model or study
                properties:
                  apiVersion:
                    description: API version of the referent.
                    type: string
                  fieldPath:
                    description: 'If referring to a piece of an object instead of
                      an entire object, this string should contain a valid JSON/Go
                      field access statement, such as desiredState.manifest.containers[2].
                      For example, if the object reference is to a container within
                      a pod, this would take on a value like: "spec.containers{name}"
                      (where "name" refers to the name of the container that triggered
                      the event) or if no container name is specified "spec.containers[2]"
                      (container with index 2 in this pod). This syntax is chosen
                      only to have some well-defined way of referencing a part of
                      an object. TODO: this design is not final and this field is
                      subject to change in the future.'
                    type: string
                  kind:
                    description: 'Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                    type: string
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                    type: string
                  namespace:
                    description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                    type: string
                  resourceVersion:
                    description: 'Specific resourceVersion to which this reference
                      is made, if any. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency'
                    type: string
                  uid:
                    description: 'UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids'
                    type: string
                type: object
              format:
                default: pdf
                description: Format specify the report format. default is pdf
                enum:
                - pdf
                type: string
              location:
                description: Location is the report location in storage.
                properties:
                  bucketName:
                    type: string
                  path:
                    description: Path to the full data file (e.g. csv file).
                    type: string
                required:
                - bucketName
                - path
                type: object
              owner:
                default: no-one
                description: The owner account name
                type: string
              reportType:
                description: ReportType specify the report type (e.g. classification
                  / regression)
                enum:
                - binary-classification-model
                - forecast-model
                - regression-model
                - multi-classification-model
                - text-classification-model
                - classification-dataset
                - forecast-dataset
                - text-classification-dataset
                - regression-dataset
                - study-report
                - feature-report
                - invalid-report
                - daily-report
                - weekly-report
                - monthly-report
                type: string
              versionName:
                default: latest
                description: VersionName is the data product version name for this
                  report.
                type: string
              workloadClassName:
                default: default-workload-class
                description: WorkloadClassName is the name of the workload class used
                  to run this report
                type: string
            type: object
          status:
            description: ReportStatus defines the observed state of the report.
            properties:
              completionTime:
                description: CompletionTime is the time when the report ended generation
                  and was uploaded to storage be set in happens-before order across
                  separate operations. It is represented in RFC3339 form and is in
                  UTC.
                format: date-time
                type: string
              conditions:
                items:
                  description: ReportCondition describes the state of a ReportName
                    at a certain point.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              observedGeneration:
                description: ObservedGeneration is the Last generation that was acted
                  on
                format: int64
                type: integer
              phase:
                description: Phase is the phase of the report
                type: string
              startTime:
                description: StartTime is the start time of the report was sent for
                  generation It is not guaranteed to be set in happens-before order
                  across separate operations. It is represented in RFC3339 form and
                  is in UTC.
                format: date-time
                type: string
              uri:
                description: URI is the report uri in the bucket
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
