
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.7.0
  creationTimestamp: null
  name: modelcompilerruns.training.modela.ai
spec:
  group: training.modela.ai
  names:
    kind: ModelCompilerRun
    listKind: ModelCompilerRunList
    plural: modelcompilerruns
    singular: modelcompilerrun
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.phase
      name: Status
      type: string
    - jsonPath: .status.progress
      name: Progress
      type: number
    - jsonPath: .status.modelName
      name: Model
      type: string
    - jsonPath: .status.versionName
      name: Version
      type: string
    - jsonPath: .status.startTime
      name: StartTime
      priority: 1
      type: date
    - jsonPath: .status.completionTime
      name: CompletionTime
      priority: 1
      type: date
    - jsonPath: .status.lastError
      name: Last Error
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ModelCompilerRun represent a single compilation of a model into
          a target hardware.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ModelCompilerRunSpec is the desired state of the ModelCompilerRun
              resource
            properties:
              compiler:
                default: tvm
                description: The compiler name
                enum:
                - tvm
                - onyx
                - xla
                - none
                type: string
              description:
                default: ""
                description: Description is the user provided description
                type: string
              modelName:
                default: ""
                description: DatasetName is the name of the dataset that we trained
                  on.
                type: string
              owner:
                default: no-one
                description: The owner of the ruyn.
                type: string
              priority:
                default: medium
                description: The priority of this pipeline run. The default is medium.
                enum:
                - low
                - medium
                - high
                - urgent
                type: string
              target:
                description: Set one or more targets for the compiler
                enum:
                - amd-epyc-2
                - arma-53
                - arma-72
                - intel-cascade-lake
                - intel-broadwell
                - intel-skylake
                - tesla-v100
                - tesla-k80
                - t4
                - raspberry-pi8-modela-b
                type: string
              versionName:
                default: ""
                description: VersionName is the data product version of the run
                type: string
            type: object
          status:
            description: ModelCompilerRunStatus is the observed state of the ModelCompilerRun
              resource .
            properties:
              completionTime:
                format: date-time
                type: string
              conditions:
                items:
                  description: ModelCompilerRunCondition describes the state of a
                    ModelCompilerRun at a certain point.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of  condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
              folder:
                description: Folder for pipeline run artifacts. This is assigned by
                  the system The folder contains all the pipeline artifacts - metadata,
                  logs
                type: string
              lastError:
                default: ""
                description: Last error
                type: string
              lastUpdated:
                description: Last time the object was updated
                format: date-time
                type: string
              observedGeneration:
                description: ObservedGeneration is the Last generation that was acted
                  on
                format: int64
                type: integer
              phase:
                default: Pending
                description: The phase of the pipeline run
                type: string
              progress:
                description: Pipeline progress Progress in precent, the progress takes
                  into account the different stages of the pipeline
                format: int32
                type: integer
              startTime:
                format: date-time
                type: string
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
