
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.5.0
  creationTimestamp: null
  name: modelpipelines.training.modeld.io
spec:
  group: training.modeld.io
  names:
    categories:
    - training
    - modeld
    - all
    kind: ModelPipeline
    listKind: ModelPipelineList
    plural: modelpipelines
    shortNames:
    - pipe
    singular: modelpipeline
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: ModelPipeline represent a CI/CD machine learning pipeline definition
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: ModelPipelineSpec define the desired state of the ModelPipeline
              resource.
            properties:
              acceptanceStage:
                description: Acceptance stage is used for further testing
                properties:
                  auto:
                    description: Auto defines if we move to the next stage without
                      human intervation kubebuilder:default:=true
                    type: boolean
                  servingSiteName:
                    description: The serving site for the testing
                    type: string
                  testDatasetName:
                    description: The name of test dataset name
                    type: string
                type: object
              capacityStage:
                description: Capacity stage for capacity
                properties:
                  auto:
                    description: Auto defines if we move from stage to stage automatically.
                      kubebuilder:default:=true
                    type: boolean
                  servingSiteName:
                    description: ServingSiteName is the serving site for the testing
                    type: string
                  testDatasetName:
                    description: TestDatasetName is the name of dataset used to test
                      the model at this stage.
                    type: string
                type: object
              dataStage:
                description: Datastage build new dataset from the data sources.
                properties:
                  wranglerName:
                    type: string
                type: object
              defaultServingSiteName:
                description: Servingsite name is the default serving site for each
                  stage.
                type: string
              description:
                description: User provided description
                type: string
              folder:
                description: Folder for the pipeline and pipeline run artifacts. The
                  folder contains all the study artifacts - metadata, reports, profile,models
                type: string
              minScore:
                description: Min score to move from stage to stage. kubebuilder:default:=0
                type: number
              owner:
                type: string
              releaseStage:
                description: ReleaseStage stage define how to place the model into
                  production.
                properties:
                  predictorName:
                    type: string
                type: object
              trainingStage:
                description: TrainingSpec stage
                properties:
                  auto:
                    description: Auto defines if we move from stage to stage automatically.
                      kubebuilder:default:=true
                    type: boolean
                  labName:
                    description: LabName is the name of the lab used for training
                    type: string
                  notebookName:
                    description: NotebookName template specify the notebook
                    type: string
                  studyName:
                    description: Study FileName is a name of a study which will be
                      cloned for this stage.
                    type: string
                type: object
              trigger:
                description: Trigger is definition of the pipeline trigger
                properties:
                  githubEvents:
                    description: Definition of git hub events
                    properties:
                      blobNameRegex:
                        description: Blobname regex is a regular expression on the
                          blob name that changed
                        type: string
                      branch:
                        description: Branch is the name of the github branch. By default
                          the trigger listen to all branch
                        type: string
                      events:
                        description: Events is the name of the github events.
                        items:
                          type: string
                        type: array
                      gitConnectionName:
                        description: The github connections used to loginto git
                        type: string
                      repository:
                        description: Repository is the name of the github repository
                        type: string
                    required:
                    - blobNameRegex
                    - branch
                    - events
                    - gitConnectionName
                    - repository
                    type: object
                  schedule:
                    description: Spec for a schedule in case that the trigger
                    properties:
                      cron:
                        description: Cron string of the schedule.
                        type: string
                      endDay:
                        description: EndDay is the end day of the schedule
                        format: date-time
                        type: string
                      endTime:
                        description: EndTime is the end time of the schedule
                        properties:
                          nanos:
                            description: Non-negative fractions of a second at nanosecond
                              resolution. Negative second values with fractions must
                              still have non-negative nanos values that count forward
                              in time. Must be from 0 to 999,999,999 inclusive. This
                              field may be limited in precision depending on context.
                            format: int32
                            type: integer
                          seconds:
                            description: Represents seconds of UTC time since Unix
                              epoch 1970-01-01T00:00:00Z. Must be from 0001-01-01T00:00:00Z
                              to 9999-12-31T23:59:59Z inclusive.
                            format: int64
                            type: integer
                        required:
                        - nanos
                        - seconds
                        type: object
                      startDay:
                        description: StartDay is the start day of the schedule
                        format: date-time
                        type: string
                      startTime:
                        description: The start time of the schedule
                        format: date-time
                        type: string
                      type:
                        description: The type of schedule events.
                        enum:
                        - now
                        - once
                        - hourly
                        - daily
                        - weekly
                        - monthly
                        - yearly
                        - cron
                        type: string
                    type: object
                type: object
              versionName:
                description: The product version of the resource
                type: string
            type: object
          status:
            description: ModelPipelineStatus define the observed state of the pipeline
            properties:
              conditions:
                items:
                  description: ModelPipelineCondition describes the state of a pipeline
                    at a certain point.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, AutoScaler.
                      type: string
                    type:
                      description: Type of account condition.
                      type: string
                  required:
                  - status
                  - type
                  type: object
                type: array
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
