# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.vscode/
.idea/
.DS_Store
dist/
*.iml
# delve debug binaries
cmd/**/debug
debug.test
coverage.out
ui/node_modules/
/vendor/

bin
.mockgen
.cache
.golangci-bin
.coverage/

.DS_Store

# VIM
.*.swp

# Emacs
*~

.idea/
.vscode/
lang/python/modeldapi.egg-info/
