---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.8.0
  creationTimestamp: null
  name: accounts.infra.modela.ai
spec:
  group: infra.modela.ai
  names:
    categories:
    - infra
    - modela
    kind: Account
    listKind: AccountList
    plural: accounts
    shortNames:
    - acct
    singular: account
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .spec.type
      name: Type
      type: string
    - jsonPath: .spec.username
      name: Username
      type: string
    - jsonPath: .spec.memberOf
      name: Team
      type: string
    - jsonPath: .spec.phone
      name: Phone
      priority: 1
      type: string
    - jsonPath: .spec.email
      name: Email
      priority: 1
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Account represents a single user on the system or a team that
          other Accounts can be grouped under
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: AccountSpec defines the desired state of an Account
            properties:
              admin:
                default: false
                description: Indicates if the Account has admin permissions. Admin
                  accounts have unrestricted access to all resources and full control
                  to modify and create other Accounts
                type: boolean
              avatar:
                description: The specification for the Account avatar image
                properties:
                  bucketName:
                    default: ""
                    description: BucketName is the name of the VirtualBucket resource
                      that exists on the same tenant as the Account
                    type: string
                  path:
                    default: ""
                    description: Path specifies the path to an image file on the VirtualBucket
                      (e.g. a PNG file)
                    type: string
                type: object
              clearanceLevel:
                default: unclassified
                description: The clearance level of the account. Accounts which do
                  not have a clearance level greater than or equal to the clearance
                  level of a DataProduct will not have access to their namespace
                enum:
                - unclassified
                - confidential
                - secret
                - top-secret
                type: string
              email:
                default: ""
                description: The e-mail address of the person using the Account
                maxLength: 64
                type: string
              emailPassword:
                default: false
                description: Indicates if an e-mail will be sent to the address specified
                  by the Email field, that notifies the Account owner about the creation
                  of the Account
                type: boolean
              favoriteProducts:
                description: The collection of DataProduct names that will be displayed
                  with priority on the tenant dashboard for the Account
                items:
                  type: string
                type: array
              firstName:
                default: ""
                description: The first name of the person using the Account
                maxLength: 64
                type: string
              lastName:
                default: ""
                description: The last name of the person using the Account
                maxLength: 64
                type: string
              memberOf:
                default: ""
                description: MemberOf specifies the name of the team that the Account
                  belongs to. An account can belong to one other team Account
                type: string
              phone:
                default: ""
                description: The phone number of the person using the Account
                maxLength: 64
                type: string
              resetPassword:
                default: false
                description: Indicates if the Account owner will be prompted to reset
                  their password upon login
                type: boolean
              team:
                default: false
                description: Indicates if the Account is a team account
                type: boolean
              tenantRef:
                description: The reference to the tenant which the object exists under
                properties:
                  apiVersion:
                    description: API version of the referent.
                    type: string
                  fieldPath:
                    description: 'If referring to a piece of an object instead of
                      an entire object, this string should contain a valid JSON/Go
                      field access statement, such as desiredState.manifest.containers[2].
                      For example, if the object reference is to a container within
                      a pod, this would take on a value like: "spec.containers{name}"
                      (where "name" refers to the name of the container that triggered
                      the event) or if no container name is specified "spec.containers[2]"
                      (container with index 2 in this pod). This syntax is chosen
                      only to have some well-defined way of referencing a part of
                      an object. TODO: this design is not final and this field is
                      subject to change in the future.'
                    type: string
                  kind:
                    description: 'Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                    type: string
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                    type: string
                  namespace:
                    description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                    type: string
                  resourceVersion:
                    description: 'Specific resourceVersion to which this reference
                      is made, if any. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency'
                    type: string
                  uid:
                    description: 'UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids'
                    type: string
                type: object
              type:
                default: user
                description: The type of Account, which can be a user or a group
                enum:
                - user
                - group
                type: string
              username:
                description: The username of the account, which can be used to log
                  into Modela
                maxLength: 64
                minLength: 4
                type: string
            required:
            - email
            - username
            type: object
          status:
            description: AccountStatus defines the actual state of the api object
            properties:
              conditions:
                items:
                  description: AccountCondition describes the state of a account at
                    a certain point.
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another.
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition.
                      type: string
                    reason:
                      description: The reason for the condition's last transition.
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown.
                      type: string
                    type:
                      description: Type of account condition.
                      type: string
                  type: object
                type: array
              failureMessage:
                description: In the case of failure, the Account resource controller
                  will set this field with a failure message
                type: string
              failureReason:
                description: In the case of failure, the Account resource controller
                  will set this field with a failure reason
                type: string
              lastUpdated:
                description: The last time the object was updated
                format: date-time
                type: string
              observedGeneration:
                description: ObservedGeneration is the last generation that was acted
                  on
                format: int64
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
