---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: notifiers.infra.modela.ai
spec:
  group: infra.modela.ai
  names:
    kind: Notifier
    listKind: NotifierList
    plural: notifiers
    singular: notifier
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - jsonPath: .status.conditions[?(@.type=="Ready")].status
      name: Ready
      type: string
    - jsonPath: .spec.owner
      name: Owner
      type: string
    - jsonPath: .spec.description
      name: Description
      type: string
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        description: The Notifier resource
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: NotifierSpec defines the desired state of a Notifier
            properties:
              channels:
                description: Channels specifies the list of notification channels
                  that the Notifier will forward the information from Alerts to. Each
                  channel specifies a Connection resource for an external messaging
                  system, and a destination channel within the system to forward the
                  information from Alerts to
                items:
                  description: NotificationChannelSpec describes a single Connection
                    to an external messaging system and a destination channel within
                    the system
                  properties:
                    connectionName:
                      default: ""
                      description: The name of the Connection resource which exists
                        in the same tenant as the parent Notifier
                      type: string
                    destination:
                      description: The destination channel that exists in the external
                        system that `ConnectionName` references. For example, a Slack
                        channel name, a Discord channel ID, or an e-mail address
                      type: string
                    enabled:
                      default: true
                      description: Indicates if the channel is enabled to send forwarded
                        Alerts
                      type: boolean
                    error:
                      default: true
                      description: Indicates if the channel will send Alerts with
                        the `error` level
                      type: boolean
                    from:
                      description: This channel start time
                      format: date-time
                      type: string
                    info:
                      default: false
                      description: Indicates if the channel will send Alerts with
                        the `info` level
                      type: boolean
                    to:
                      description: This channel end time
                      format: date-time
                      type: string
                  required:
                  - connectionName
                  type: object
                type: array
              description:
                default: ""
                description: The user provided description of the object
                type: string
              enabled:
                default: true
                description: Indicates if the Notifier will send notifications
                type: boolean
              owner:
                default: no-one
                description: The name of the Account which created the object, which
                  exists in the same tenant as the object
                type: string
              tenantRef:
                description: The reference to the tenant which the object exists under
                properties:
                  apiVersion:
                    description: API version of the referent.
                    type: string
                  fieldPath:
                    description: 'If referring to a piece of an object instead of
                      an entire object, this string should contain a valid JSON/Go
                      field access statement, such as desiredState.manifest.containers[2].
                      For example, if the object reference is to a container within
                      a pod, this would take on a value like: "spec.containers{name}"
                      (where "name" refers to the name of the container that triggered
                      the event) or if no container name is specified "spec.containers[2]"
                      (container with index 2 in this pod). This syntax is chosen
                      only to have some well-defined way of referencing a part of
                      an object. TODO: this design is not final and this field is
                      subject to change in the future.'
                    type: string
                  kind:
                    description: 'Kind of the referent. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
                    type: string
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names'
                    type: string
                  namespace:
                    description: 'Namespace of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/namespaces/'
                    type: string
                  resourceVersion:
                    description: 'Specific resourceVersion to which this reference
                      is made, if any. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#concurrency-control-and-consistency'
                    type: string
                  uid:
                    description: 'UID of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#uids'
                    type: string
                type: object
                x-kubernetes-map-type: atomic
            type: object
          status:
            description: NotifierStatus is the observed state of a Notifier
            properties:
              channelsStatus:
                description: The status of Notification Channels after Alerts have
                  been forwarded to them
                items:
                  properties:
                    failureMessage:
                      description: In the case of failure, the Notifier resource controller
                        will set this field with a failure message
                      type: string
                    failureReason:
                      description: In the case of failure, the Notifier resource controller
                        will set this field with a failure reason
                      type: string
                    lastMessage:
                      description: The last time a message was sent on this channel
                      format: date-time
                      type: string
                  type: object
                type: array
              conditions:
                items:
                  description: NotifierCondition describes the state of a Notifier
                    at a certain point
                  properties:
                    lastTransitionTime:
                      description: Last time the condition transitioned from one status
                        to another
                      format: date-time
                      type: string
                    message:
                      description: A human readable message indicating details about
                        the transition
                      type: string
                    reason:
                      description: The reason for the condition's last transition
                      type: string
                    status:
                      description: Status of the condition, one of True, False, Unknown
                      type: string
                    type:
                      description: Type of account condition.
                      type: string
                  type: object
                type: array
              lastUpdated:
                description: The last time the object was updated
                format: date-time
                type: string
              observedGeneration:
                description: ObservedGeneration is the last generation that was acted
                  on
                format: int64
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources: {}
